@font-face {
 font-family: 'Roboto Light';
 src: url('../fonts/RobotoLight.eot');
 src: url('../fonts/RobotoLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoLight.woff') format('woff'),
  url('../fonts/RobotoLight.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Roboto Medium';
 src: url('../fonts/RobotoMedium.eot');
 src: url('../fonts/RobotoMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoMedium.woff') format('woff'),
  url('../fonts/RobotoMedium.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Roboto Regular';
 src: url('../fonts/RobotoRegular.eot');
 src: url('../fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoRegular.woff') format('woff'),
  url('../fonts/RobotoRegular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
} 

@font-face {
 font-family: 'Roboto Bold';
 src: url('../fonts/RobotoBold.eot');
 src: url('../fonts/RobotoBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoBold.woff') format('woff'),
  url('../fonts/RobotoBold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Roboto Condensed Bold';
 src: url('../fonts/RobotoCondensedBold.eot');
 src: url('../fonts/RobotoCondensedBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoCondensedBold.woff') format('woff'),
  url('../fonts/RobotoCondensedBold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Roboto Condensed Light';
 src: url('../fonts/RobotoCondensedLight.eot');
 src: url('../fonts/RobotoCondensedLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoCondensedLight.woff') format('woff'),
  url('../fonts/RobotoCondensedLight.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Roboto Condensed Regular';
 src: url('../fonts/RobotoCondensedRegular.eot');
 src: url('../fonts/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoCondensedRegular.woff') format('woff'),
  url('../fonts/RobotoCondensedRegular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}